{
  "project_info": {
    "project_number": "REMPLACER",
    "project_id": "ton-projet-firebase",
    "storage_bucket": "ton-projet-firebase.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789:android:abcdef",
        "android_client_info": {
          "package_name": "com.ez3ki33l.todolist"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REMPLACER_DEPUIS_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
