node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
.git
apps/native
!apps/native/assets
!apps/native/assets/**
**/.expo
**/android
**/ios
dist
**/*.md
!deploy/todolist/README.md
.pnpm-store
coverage
*.log
.env
.env.*
